table.dataframe td {
    background-color: red;
}
/* 
td{
    border: solid 1px black;
}

tr{
    text-align: center;
    
}

table {
	width: 50%;
	height: 90px;
    text-align: center;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 350%
}


.color{
    background-color:rgb(3, 71, 21);
    font-weight: bold;
    color: aliceblue;
} */

