table.dataframe td {
    border: solid 1px black;
}
table.dataframe tr {
    text-align: center;
}
table.dataframe table {
    text-align: center;
}
table.dataframe th {
    text-align: center;
}
table.dataframe thead {
    text-align: center;
    background-color: rgb(79, 169, 233);
    height: 100px;
}

header{
    background-color: rgba(191, 204, 254, 0.903);
    /* padding: 1em; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

