<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='script-I.js')}}"> -->
    <title>Estadisticas de fotos</title>
</head>
<header>
    <div >
        <ul classs ="enlaces">
            <li class=" img"> <a href="/" >Inicio</a></li>
            <li class=" historia"><a href="/historial" >historial </a></li>
            <li class=" img"> <a href="/insertar-imagen-dia" >insertar-imagen-del-dia</a></li>
            <li class=" img"> <a href="/imagenes-año" >imagenes de todo un año</a></li>
            <li class=" img"> <a href="/formulario" >formulario</a></li>
        </ul> 
    </div>
</header>
  <body>
    <h1>Estadisticas de que tipo de foto a avido mas en todos los meses del año 2022</h1>

    <form action="/formulario" method="POST"><!-- el metodo post servira para que pueda mostrar lo que le pedimos al formulario -->
      <select name="opciones">
        <!-- el valor que le daremos a nuestro formulario sera las imagenes quequeremos mostrar -->
            <option value="static/graficas/año.png">Todo un año</option>
            <option value="static/graficas/grafica_mes_1.png">Enero</option>
            <option value="static/graficas/grafica_mes_2.png">Febrero</option>
            <option value="static/graficas/grafica_mes_3.png">Marzo</option>
            <option value="static/graficas/grafica_mes_4.png">Abril</option>
            <option value="static/graficas/grafica_mes_5.png">Mayo</option>
            <option value="static/graficas/grafica_mes_6.png">Junio</option>
            <option value="static/graficas/grafica_mes_7.png">Julio</option>
            <option value="static/graficas/grafica_mes_8.png">Agosto</option>
            <option value="static/graficas/grafica_mes_9.png">Septiembre</option>
            <option value="static/graficas/grafica_mes_10.png">Octubre</option>
            <option value="static/graficas/grafica_mes_11.png">Noviembre</option>
            <option value="static/graficas/grafica_mes_12.png">Diciembre</option>

      </select>
      <button class="button" type="submit">Enviar</button>
    </form>
<!-- para poder mostrar las imagenes una vez enviado el formulario lo haremos a traves de la variable del app route que coje las diferentes imagenes -->
    <img class="imagen" src="{{imagen}}">

  </body>
</html>