<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='style-h.css')}}">
  </head>
  <header>
    <nav class="nav">
        <ul classs ="enlaces">
            <li class=" historia"><a href="/" >inicio </a></li>
            <li class=" img"> <a href="/insertar-imagen-dia" >insertar-imagen-del-dia</a></li>
        </ul> 
    </nav>
  </header>   
  <body>
    
    <img src="{{ url_for('static', filename='grafica.png') }}" alt="Gráfica de barras">

  </body>
</html>