<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='script-I.js')}}"> -->
    </head>
  <header>
        <div >
            <ul classs ="enlaces">
                <li class=" historia"><a href="/historial" >historial </a></li>
                <li class=" img"> <a href="/insertar-imagen-dia" >insertar-imagen-del-dia</a></li>
                <li class=" img"> <a href="/imagenes-año" >imagenes de todo un año</a></li>
                <li class=" img"> <a href="/formulario" >formulario</a></li>
            </ul> 
        </div>
  </header>
  <body>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Imagen</th>
            <th>Explicación</th>
          </tr>
        </thead>
        <tbody>
          {% for imagen in imagenes %}
          <tr>
            <td>{{ imagen.0 }}</td>
            <td>{{ imagen.1 }}</td>
            <td>{{ imagen.2 }}</td>
            <td>{{ imagen.3 }}</td>
            <td>{{ imagen.4 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
</html>
