<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='script-I.js')}}"> -->
    </head>
    <header>
        <div >
            <ul classs ="enlaces">
                <li class=" historia"><a href="/historial" >historial </a></li>
                <li class=" img"> <a href="/insertar-imagen-dia" >insertar-imagen-del-dia</a></li>
                <li class=" img"> <a href="/imagenes-año" >imagenes de todo un año</a></li>
                <li class=" img"> <a href="/formulario" >formulario</a></li>
            </ul> 
        </div>
    </header>
	<body>
		<h1>{{mensaje}}</h1>
	</body>
</html>